@import url('https://fonts.googleapis.com/css2?family=Jakarta+Sans+Display:wght@400;700&display=swap');
@import 'variables.scss';

body{
    background-color: white;
    font-family: 'Jakarta Sans Display', sans-serif;
    color: black;
}


.section-navbar {
    width: 100%;
    border-radius: 0px 0px 30px 30px;
    background: linear-gradient(to bottom, $primary, rgba(14, 74, 194, 0));
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    color : white;
    z-index: 1;
}
.section-navbar ul {
    list-style: none;
    display: flex;
}
.section-navbar li {
    margin-inline: 30px;
    font-size: 18px;
    font-weight: bold;
}
.navbar-branding{
    display: flex;
    align-items: center;
    margin-left: 2%;
}

.navbar-branding img.logo {
    margin-right: 10px; /* Menambahkan jarak antara gambar dan teks */
  }

  .navbar-branding span {
    line-height: 1.5; /* Mengatur jarak baris teks */
    font-size: 18px;

  }

.logo {
    max-width: 50px;
}
.active {
    background: rgb(255, 217, 0);
    padding: 5px 20px;
    border-radius: 10px;
    color : $primary
}

// hero
.hero{
    width: 100%;
}
.hero img{
    width: 100%;
}

.greeting{
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url('/assets/images/6.png');

    position: relative;
    top: -200px;
    padding-top: 200px;
    color : white;
    max-height: 1200px;
    overflow: hidden;
}
.left-side{
    width: 50%;
    padding: 20px;
    margin-left: 20px;
}
.right-side{
   margin: auto 0;
}
.right-side img{
    width: 70%;
    height: auto;
    float: right;
    object-fit: cover;
}

h1{
    font-size: 50px;
    font-weight: bold;
}

.vt {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 200px;
    color: white;
    max-height: 1200px;
    overflow: hidden;
    margin-bottom: 10px;
}

.vt-youtube {
    width: 50%;
    height: 400px;
    background: $primary;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vt-youtube .title {
    padding: 2%;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    width: 100%; /* Agar title tidak terpengaruh oleh align-items: center */
    text-align: left; /* Mengatur teks di kiri secara horizontal */
}

.vt-youtube .icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}

.vt-youtube .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.vt-youtube .icon img {
    top: -100px;
    width: 10%;
}


.calendar-month{
    background: $secondary;
    color: white;
}

.event{
    width: 50%;
}
.event-item{
    font-size: 20px;
}
.national{
    background: $primary;
    color: white;
    padding : 5px 10px;
    border-radius: 20px 20px 20px 20px;
}

.news{
    background-image: url('/assets/images/bg3.png');
    background-size: cover;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.news img{
    width: 20%;
}

.news button{
    background: $red1;
}

.footer{
    background-image: url('/assets/images/bg4.png');
    background-size: cover;
    padding: 20px;
    display: flex;
    margin-top: 50px;
}

.brand {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.brand .motto{
    font-size: 16px;
    font-weight: 100;
    font-style: italic;
}

.brand .address{
    font-size: 18px;
    font-weight: 100;
}